<h1 class="text-center">{{ vm.group.name }}</h1>

<div class="button-row pull-right">
  <button class="btn btn-primary" href="javascript:void(0)"
  ui-sref="groupsEdit({ id: vm.group.id })">Send Invites</button>
  <button class="btn btn-primary" href="javascript:void(0)"
  ui-sref="groupsEdit({ id: vm.group.id })">Edit Group</button>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card-container">
      <div class="profile-img" style="background-image:url({{ vm.group.image || '../images/user-default.jpg' }})"></div>
      <div class="group-description">
        <strong class="description-heading">Description</strong>
        <p class="description">{{ vm.group.description }}</p>
      </div>
    </div>
  </div>
</div>



<p>Creator: {{ vm.group.creator.first_name }} {{ vm.group.creator.last_name }}</p>


<ul>
  <p>Members:</p>
  <li ng-repeat="member in vm.group.members">
    <p>Name: {{ member.first_name }} {{ member.last_name }}</p>
  </li>
</ul>
