<h1 class="text-center">{{ vm.group.name }}</h1>

<div class="button-row pull-right">
  <button class="btn btn-primary" href="javascript:void(0)" ng-click="vm.openInvites()">
    Send Invites
  </button>
  <button class="btn btn-primary" href="javascript:void(0)" ui-sref="groupsEdit({ id: vm.group.id })">
    Edit Group
  </button>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card-container">
      <div class="profile-img" style="background-image:url({{ vm.group.image || '../images/user-default.jpg' }})"></div>
      <div class="group-description">
        <h3 class="description-heading">Description</h3>
        <p class="description">{{ vm.group.description }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Agenda section -->
<div class="row">

  <div class="col-xs-12 col-sm-8 col-md-9">

    <div class="container-fluid agenda-main">
      <div class="agenda-header-row">
        <button ui-sref="eventsNew({ group_id: vm.group.id })" class="btn btn-success" id="add-event-btn">Add Event</button>
        <h3 class="mb3">Agenda</h3>
      </div>
      <!-- <div class="add-event-button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </div> -->
      <div class="container-fluid event-card" ui-sref="eventsShow({ group_id: vm.group.id, id: event.id })" ng-repeat="event in vm.group.events">
        <div class="row row-align-bottom">
          <div class="col-xs-12 col-sm-7">
            <h4>{{ event.name }}</h4>
          </div>
          <div class="col-xs-12 col-sm-5">
            <h5 class="timings">{{ event.start_time | date : "EEE d MMM, h.mm a" }} - {{ event.end_time | date : "h.mm a" }}</h5>
          </div>
        </div>
        <p>{{ event.description }}</p>
        <p class="event-sub-headings"><strong>Location</strong></p>
        <p>{{ event.location }}</p>
        <p class="event-sub-headings"><strong>Dress Code</strong></p>
        <p>{{ event.dress_code }}</p>
        <div class="row">
          <div class="col-xs-6">
            <p># people going</p>
          </div>
          <div class="col-xs-6 text-right">
            <p>Status: {{ event.status || N/A }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- The member column on the right -->
  <div class="col-xs-12 col-sm-4 col-md-3">

    <div class="container-fluid">
      <div class="row">
        <div class="">
          <button ng-click="vm.openInvites()" class="btn btn-primary col-xs-12 margin-bottom-2">Send Invites</button>
        </div>
        <div class="">
          <button ng-click="vm.openPending()" class="btn btn-primary col-xs-12 margin-bottom-2">View Invites</button>
        </div>
      </div>
    </div>

    <div class="member-card-container container-fluid">
      <h3 class="text-center">Members</h3>
      <div class="list-group">

        <!-- The row for the group creator -->
        <div class="container-fluid">
          <div class="row creator-div member-div">
            <div class="col-xs-3 member-div-img-col">
              <div class="member-img" style="background-image:url({{ vm.group.creator.image || '../images/user-default.jpg' }})"></div>
            </div>
            <div class="col-xs-9 member-div-member-col text-left">
              <div class="member-details">
                <p class="member-name"><span>{{ vm.group.creator.first_name }} {{ vm.group.creator.last_name }}</span></p>
                <p class="member-phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ vm.group.creator.phone || "N/A" }}</p>
                <p class="member-email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ vm.group.creator.email || "N/A" }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- The rows for the rest of the group members -->
        <div class="container-fluid">
          <div class="row member-div" ng-repeat="member in vm.group.accepted_members">
            <div class="col-xs-3 member-div-img-col">
              <div class="member-img" style="background-image:url({{ member.image || '../images/user-default.jpg' }})"></div>
            </div>
            <div class="col-xs-9 member-div-member-col text-left">
              <div class="member-details text-left">
                <p class="member-name"><span>{{ member.first_name }} {{ member.last_name }}</span></p>
                <p class="member-phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ member.phone || "N/A" }}</p>
                <p class="member-email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ member.email || "N/A" }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="">
          <button ng-click="vm.openDeleteMembers()" class="btn btn-danger col-xs-12">Delete Members</button>
        </div>
      </div>
    </div>

  </div>

</div>
