<h1 class="text-center">Dashboard</h1>

<div class="row">

  <div class="col-xs-12 col-md-3 text-center">

    <div class="card-container">

      <div ui-sref="usersEdit({ id: vm.user.id })" class="glyphicons-at-top">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </div>

      <div class="profile-img" style="background-image:url({{ vm.user.image || '../images/user-default.jpg' }})"></div>

      <h1>{{ vm.user.first_name }} {{ vm.user.last_name }}</h1>
      <h2 class="title"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ vm.user.phone || "N/A" }}</h2>
      <h2 class="title"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ vm.user.email || "N/A"  }}</h2>
      <h2 class="title"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ vm.user.location || "N/A" }}</h2>

    </div>

  </div>


  <div class="col-xs-12 col-md-5">
    <div class="card-container container-fluid">
      <h2>Upcoming Events</h2>

      <div class="notifications-accordion">
        <uib-accordion close-others="oneAtATime" class="text-left">
          <div ng-repeat="request in vm.pending_requests">
            <div uib-accordion-group
            class="panel-default accordion-group-custom" is-open="status.open">
              <uib-accordion-heading ng-click="status.open=!status.open">
                <div>
                  Group Invitation <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </div>
              </uib-accordion-heading>
              <p>You have received an invitation from {{ request.sender.first_name }} {{ request.sender.last_name }} to join {{ request.group.name }}.</p>
              <div class="accordion-buttons">
                <button ng-click="vm.acceptRequest(request.id)" class="btn btn-primary" type="button" name="button">Join</button>
                <button ng-click="vm.declineRequest(request.id)" class="btn btn-primary" type="button" name="button">Decline</button>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>

    </div>
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="card-container container-fluid">
      <h2>Notifications</h2>
      <div class="notifications-accordion">
        <uib-accordion close-others="oneAtATime" class="text-left">
          <div ng-repeat="request in vm.pending_requests">
            <div uib-accordion-group
            class="panel-default accordion-group-custom" is-open="status.open">
              <uib-accordion-heading ng-click="status.open=!status.open">
                <div>
                  Group Invitation <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </div>
              </uib-accordion-heading>
              <p>You have received an invitation from {{ request.sender.first_name }} {{ request.sender.last_name }} to join {{ request.group.name }}.</p>
              <div class="accordion-buttons">
                <button ng-click="vm.acceptRequest(request.id)" class="btn btn-primary" type="button" name="button">Join</button>
                <button ng-click="vm.declineRequest(request.id)" class="btn btn-primary" type="button" name="button">Decline</button>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
    </div>
  </div>


</div>

<div class="dashboard-groups">
  <h2 class="section-title text-center">Your Groups</h2>
  <div class="row">
    <button ui-sref="groupsNew" class="btn btn-primary button-row pull-right" type="button" name="button">
      Create a group
    </button>
  </div>
  <div class="row text-center">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="group in vm.groups track by $index">
      <!-- <div class="card-container" > -->
      <div class="card-container" ui-sref="groupsShow({ id: group.id })">

        <div class="glyphicons-at-top" ng-if="group.creator_id == vm.user.id">
          <span class="glyphicon glyphicon-star admin-icon" aria-hidden="true"></span>
        </div>

        <div class="profile-img"
        style="background-image:url({{ group.image || '../images/user-default.jpg' }})"></div>
        <!-- <div class="profile-img"
        style="background-image:url({{ '../images/user-default.jpg' }})"></div> -->

        <a ui-sref="groupsShow({ id: group.id })"><h3 >{{ group.name }}</h3></a>
        <p class="dash-groups-date" ng-show="vm.checkSameDay(group.events, $index)">
          {{ vm.startDate[$index] || "Awaiting Schedule" }}
        </p>
        <p class="dash-groups-date" ng-hide="vm.checkSameDay(group.events, $index)">
          {{ vm.startDate[$index] }} - {{ vm.endDate[$index] }}
        </p>

      </div>
    </div>
  </div>
</div>
