<h1>Dashboard</h1>

<div class="row">

  <div class="col-xs-12 col-md-4">

    <div class="card">

      <div class="profile-img"></div>

      <h1>Brad Pitt</h1>
      <h2 class="title">07878787878</h2>
      <h2 class="title">brad@brad.com</h2>
      <h2 class="title">Santa Monica</h2>

      <button class="btn btn-primary" type="button" name="button">Edit</button>

    </div>

  </div>

</div>


<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="contact-card">
      <div class="row flex-row">
        <div class="col-xs-3 contact-card-photo-background">

        </div>
        <div class="col-xs-3 contact-card-photo-holder">
          <div class="round-img"></div>
        </div>
        <div class="col-xs-6 contact-card-row pull-right">
          <p class="contact-card-headers">Name</p>
          <p class="contact-card-values">{{ vm.currentUser.first_name }} {{ vm.currentUser.last_name }}</p>
          <p class="contact-card-headers">Email</p>
          <p class="contact-card-values">{{ vm.currentUser.email }}</p>
          <p class="contact-card-headers">Phone</p>
          <p class="contact-card-values">N/A</p>
          <p class="contact-card-headers">Location</p>
          <p class="contact-card-values">N/A</p>
        </div>

      </div>

    </div>

    <div class="col-xs-12 text-center">
      <button class="btn btn-primary" type="button" name="button">Edit Contact Card</button>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <h2>Notifications</h2>
  </div>

  <div class="col-xs-12">
    <h2>Your Groups</h2>

    <div ng-repeat="group in vm.groups track by $index">
      <!-- <p>Group Name: {{ group.name }} <span ng-show="vm.groupCreator(group.creator_id)">Group creator</span></p> -->
      <a ui-sref="groupsShow({ id: group.id })"><p>Group Name: {{ group.name }} <span ng-if="group.creator_id == vm.currentUser.id">Group creator</span></p></a>
    </div>
  </div>

</div>
