
<div class="homepage-img">
  <img class="img-responsive" src="../images/homepage-img.jpg" alt="">
  <button class="btn theme-button-1" type="button">Register</button>
  <button class="btn theme-button-1" type="button">Login</button>
</div>

<div class="row info-row">
  <div class="col-xs-12 col-sm-4">
    <div class="info-block">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      <h3>Organise your stag or hen do in a fun and efficient way</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="info-block">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <h3>Invite your friends to your group and keep them updated</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="info-block">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <h3>See the events that your friends are able to attend</h3>
    </div>
  </div>
</div>
