<img src="../images/homepage-img-faded.jpg" class="background-image" alt="">

<div class="homepage-wrapper">

  <div class="homepage-logo text-center">
    <img src="../images/henstag-logo-1.png" alt="">
  </div>

  <div class="container homepage-button-row text-center">
    <button type="button" ui-sref="register" class="btn-lg theme-button-1 homepage-btn">Register</button>
    <button type="button" ui-sref="login" class="btn-lg theme-button-1 homepage-btn">Login</button>
  </div>

  <div class="container">
    <div class="row info-row">
      <div class="col-xs-12 col-sm-4">
        <div class="info-block">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          <h3>Organise your stag or hen do in a fun and efficient way</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="info-block">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <h3>Invite your friends to your group and keep them updated</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="info-block">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <h3>See the events that your friends are able to attend</h3>
        </div>
      </div>
    </div>
  </div>
</div>
