.flex-row {
  display: flex;
}

.row-align-bottom {
  display: flex;
  align-items: flex-end;
}

.row-align-space-between-hrz {
  display: flex;
  justify-content: space-between;
}

.justify-self-start {
  margin-right: auto;
}
.justify-self-middle {
  margin-right: auto;
  margin-left: auto;
}
.justify-self-end {
  margin-left: auto;
}

.pb1 {
  padding-bottom: 0.4em;
}
.pb2 {
  padding-bottom: 0.8em;
}

.mt1 {
  margin-top: 1%;
}
.mt2 {
  margin-top: 2%
}
.mt3 {
  margin-top: 3%;
}
.mt4 {
  margin-top: 4%;
}
.mt5 {
  margin-top: 5%;
}
.mb1 {
  margin-bottom: 1%;
}
.mb2 {
  margin-bottom: 2%
}
.mb3 {
  margin-bottom: 3%;
}
.mb4 {
  margin-bottom: 4%;
}
.mb5 {
  margin-bottom: 5%;
}
.dib {
  display: inline-block;
}
