// @import url(https://fonts.googleapis.com/css?family=Amaranth:400,700);
// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$themeColour1 : #7f3239;
$themeColour2 : #5F3139;
$themeColour3 : #3E3039;
$themeColour4 : #fcfcfc;
$themeDanger  : #c9302c;
$themeColour1Faded : rgba(127, 50, 57, 0.6);

$headingFont  : 'Rubik', sans-serif;
$bodyFont     : 'Rubik', sans-serif;

$fontColour1  : $themeColour3;

h1 {
  color: $themeColour2;
}

h2, h3, h4, h5, h6, a, p, label {
  color: $fontColour1;
}

h1, h2, h3, h4, h5 {
  font-family: $headingFont;
}

a, p, input, label {
  font-family: $bodyFont;
}
