.background-image {
  position: fixed;
  top: 0;
  left: 0;

  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}

.homepage-wrapper {
  // background-color: $themeColour4;

  .homepage-logo {
    margin: 1em auto 1.5em;
    img {
      width: 300px;
    }
  }

  .homepage-button-row {
    margin: 0 auto 4em;

    .homepage-btn {
      width: 20em;
    }
  }

  .info-row {
    text-align: center;
    background-color: $themeColour4;
    border-radius: 4px;

    .info-block {
      // @include medium-card-container;
      padding: 3em 0.5em;

      .glyphicon {
        font-size: 40px;
      }
    }

  }
}
