@mixin satinweave-background {
  background: url(/images/backgrounds/satinweave.png) repeat 0 0;
}

@mixin medium-card-container {
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  transition: all 0.5s ease;
  margin: auto;
  text-align: center;
  margin-bottom: 2%;
  padding-bottom: 2%;
  position: relative;
}

@mixin glyphicons-at-top {
  position: absolute;
  right: 1%;
  top: 1%;
  font-size: 20px;
  padding: 7px 0 0;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0px 0px 2px #888;
}

@mixin small-card-container {
  background: #fff;
  box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  transition: all 0.5s ease;
  margin: auto;
  text-align: center;
  margin: 1% 0 3%;
  padding: 0 auto 0;
  position: relative;
}

@mixin small-user-card {
  
  .member-div-img-col {
    padding: 0;

    .member-img {
      height: 75px;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }
  }

  .member-div-member-col {
    padding: 0 5% 0;

    .member-details {
      display: inline-block;

      p {
        margin: 0;
      }

      .member-name {
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 2px;
      }
    }
  }

  .small-card-glyphicon {
    .glyphicon-remove {
      transition: all 0.25s ease;

      &:hover {
        transform: scale(1.2);
        background-color: #c9c9c9;
      }
    }
  }
}

@mixin attendance-user-card {

  .member-card-container {
    &:hover {
      cursor: pointer;
    }
  }

  .member-div-img-col {
    padding: 0;

    .member-img {
      height: 60px;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }
  }

  .member-div-member-col {
    padding: 0 5% 0;

    .member-details {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;

      p {
        margin: 0;
      }

      .member-first-name, .member-last-name {
        // font-weight: 400;
      }

    }
  }
}

@mixin mac-os-scrollbars {
  ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}
