// Import all of your scss files here

@import 'fonts';
@import 'mixins';
@import 'custom-css';
@import 'bootstrap-navbar';
@import 'buttons';
@import 'mobile-responsiveness';
@import 'bootstrap-xxs-size';
@import 'homepage';
// @import 'footer';

body {
  // background: url(/images/backgrounds/pink_dust.png) repeat 0 0;
  background: url(/images/backgrounds/satinweave.png) repeat 0 0;
  position: relative;
}

nav {
  img {
    margin-top: -0.6em;
    width: 40px;
  }
}

.nav {
  a {
    font-family: $headingFont;
    &:hover {
      cursor: pointer;
    }
  }
}

.margin-bottom-2 {
  margin-bottom: 2%;
}

// To make scrollbars visible on Mac OS
@include mac-os-scrollbars;

/* Dashboard */

.dashboard-groups {
  @include medium-card-container;

  margin-top: 1em;

  .your-groups-header {
    margin-bottom: 1em;

    .dash-title {
      color: $themeColour2;
    }

    .button-row {
      margin: 0 auto 0.8em;
    }
  }

  .groups-card-container {
    @include medium-card-container;
    background-color: $themeColour1;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }

    a:hover {
      text-decoration: none;
    }

    .card-container:hover {
      cursor: pointer;
    }
    .dash-groups-name {
      color: $themeColour4;
      margin-top: 0.5em;
      margin-bottom: 0.2em;

      &:hover {
        text-decoration: none;
      }
    }
    .dash-groups-date {
      color: $themeColour4;
      margin-bottom: 0.2em;
    }

    .group-thumbnail {
      height: 250px;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }

    .glyphicons-at-top {
      @include glyphicons-at-top;

      span {
        margin: 0;
        padding: 0;
      }

    }
  }


}

.card-container {

  @include medium-card-container;

  .dash-title {
    color: $themeColour2;
  }

  .glyphicons-at-top {
    @include glyphicons-at-top;

    span {
      margin: 0;
      padding: 0;
    }

    &:hover {
      cursor: pointer;
    }

  }

  .glyphicons-at-top.member-card-glyphicon {
    right: -45px;
  }

  .glyphicons-at-top.admin-icon {

  }

  .profile-img {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

  .title {
      font-size: 18px;
  }
}

.big-cards {
  // background-color: $bgDefault;
  // opacity: 0.5;
}
// Accordion design below here
.dashboard-accordion {
  overflow-y: scroll;
  height: 400px;

  .agenda-time-div {
    margin-top: 5px;
    margin-bottom: 3px;

    .agenda-time-title {
      display: inline-block;
      margin-bottom: 0px;
    }
  }

  .people-going {
    .glyphicon {
      margin-left: 1em;
    }
    .glyphicon-thumbs-up {
      color: green;
    }
    .glyphicon-thumbs-down {
      color: red;
    }
  }

  .event-mini-details {
    &:hover {
      cursor: pointer;
    }
    .event-sub-headings {
      margin: 0;
    }
  }

  .button-row {
    margin-top: 10px;
  }

}

.panel-group .panel {
  border-radius: 0;
  margin-bottom: 1%;

  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(207,207,207,1);

  .panel-heading {
    background-color: $themeColour4;
    &:hover {
      cursor: pointer;
    }
  }

  .panel-heading+.panel-collapse>.panel-body{
    border-top: none;
  }
}

.accordion-group-custom {
  border-radius: 0;
}
// Accordion design above here

.notifications-container {
  .dashboard-accordion {
    height: 360px;
  }
  .no-notifications {
    text-align: center;

    img {
      width: 90%;
    }
  }
}


/* Forms */
.form-card {
  @include medium-card-container;

  margin-top: 2%;
  padding: 2% 2% 1%;
  border: 1px solid $themeColour1;
  background-color: $themeColour4;

  h1 {
    margin-top: 1%;
    // padding-top: 0;
  }

  .form-control {
    border: 1px solid $themeColour1;
    color: $themeColour1;
    // border-radius: 0;
    background-color: $themeColour4;
    transition: all 0.5s ease;

    &:focus {
      border: 1px solid $themeColour1;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $themeColour1Faded;
    }
  }

  textarea {
    height: 15rem;
  }

  .theme-button-2 {
    margin-top: 1%;
    width: 100%;
  }
}

/* Groups Show Page */
.button-row {
  margin-bottom: 1%;
}

.group-description {
  margin: 2% 5%;
  text-align: left;

  .description-heading {
    margin-bottom: 0.7em
  }
  .description {
    margin-top: 1%;
    white-space: pre-line;
    line-height: normal;
  }
}

.member-card-container {
  @include small-card-container;

  .creator-div {
    border-top: 1px solid #bdbfc1;
  }

  .member-div {
    padding: 4px 0;
    border-bottom: 1px solid #bdbfc1;
    @include small-user-card;
    &:hover {
      cursor: pointer;
    }

  }
}

// This is for the user contact card modal to have better styling at the bottom
.modal-content {
  border: none;

  .member-card {

    .modal-body {
      padding: 0;
    }
  }
}

.groups-show-modal {

  .modal-body {
    min-height: 20em;

    h4 {
      margin-bottom: 2%;
    }

    .search-elements {

      .invite-search {
        display: inline-block;

        .theme-button-2 {
          // height: 1em;
        }
      }
    }

    .form-control {
      border: 1px solid $themeColour1;
      color: $themeColour1;
      background-color: $themeColour4;
      transition: all 0.5s ease;

      &:focus {
        border: 1px solid $themeColour1;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $themeColour1Faded;
      }
    }

    @include small-user-card;

    .small-card-glyphicon {
      position: absolute;
      right: 1%;
      top: 1%;
      font-size: 14px;
      z-index: 5;

      &:hover {
        cursor: pointer;
      }

      span {
        margin: 0;
        padding: 0;
      }

    }

    .member-name {
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 0 !important;
    }

  }

} // End of groups-show-modal

/* Agenda on show page */
.agenda-main {
  @include medium-card-container;

  .agenda-header-row {
    position: relative;
    #add-event-btn {
      position: absolute;
      left: 0;
    }
  }

  .add-event-button {
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    padding: 12px 0;

    .glyphicon {
      color: #fff;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }

    &:hover {
      cursor: pointer;
      background-color: #2e6da4;
    }
  }

  .date-button-row {
    display: flex;
    justify-content: center;
  }

  .button-left, .button-right {
    display: inline-block;
  }

  .agenda-right, .agenda-left {
    width: 50px;
    // padding-left: 3%;
    // padding-right: 3%;
  }

  .agenda-date-header {
    display: inline-block;
  }

  .event-card {
    @include small-card-container;
    box-shadow: 0px 0px 8px 0px rgba(100,100,100,1);
    // box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
    text-align: left;
    margin-bottom: 1%;
    position: relative;
    z-index: 0;

    &:hover {
      cursor: pointer;
    }

    .timings {
      text-align: right;
    }

    .event-sub-headings {
      margin: 0;
    }

    .people-going {
      .glyphicon {
        margin-left: 1em;
      }
      .glyphicon-thumbs-up {
        color: green;
      }
      .glyphicon-thumbs-down {
        color: red;
      }
    }

    .button-row {
      margin-bottom: 1em;
      position: relative;
      z-index: 5;
    }

  }
}

.time-status {
  text-transform: capitalize;

  .status-upcoming {
    color: blue;
  }
  .status-now {
    color: green;
  }
  .status-ended {
    color: crimson;
  }
}


// Event show page
.event-show-group-header {
  h1 {
    margin-bottom: 0;
  }
}
.event-show-event-header {
  margin-top: 4%;
  h2 {
    margin-right: 5%;
    margin-bottom: 0;
    display: inline-block;
  }
}

.event-show-card {
  @include small-card-container;
  box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  text-align: left;
  margin-bottom: 1em;

  h3 {
    margin-top: 10px;
  }

  .people-going {
    .glyphicon {
      margin-left: 1em;
    }
    .glyphicon-thumbs-up {
      color: green;
    }
    .glyphicon-thumbs-down {
      color: red;
    }
  }

  .timings {
    text-align: right;
  }

  .event-sub-headings {
    margin: 0;
  }
}

.left-btn, .right-btn {
  // margin-top: 0.5em;
}

.left-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
.right-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.attendance-card-container {
  @include medium-card-container;
  margin-top: 1em;

  h3 {
    text-align: left;
    padding-bottom: 0.2em;
  }

  .attendance-row {
    min-height: 70px;

    .flex-row {
      align-items: center;
    }

    @include attendance-user-card;
    .member-card-container {
      box-shadow: 0px 0px 10px 0px rgba(100,100,100,1);
    }
  }

}

.angular-calendar-dashboard {
  background-color: $themeColour4;
  // height: 350px;
  // overflow-y: scroll;

  // mwl-calendar .cal-month-box [class*=cal-cell], mwl-calendar .cal-year-box [class*=span] {
  //   min-height: 0;
  //   height: 50px;
  //   border-right: 1px solid #e1e1e1;
  //   position: relative;
  // }
  //
  // mwl-calendar .cal-month-day {
  //   height: 50px;
  // }
  //
  // mwl-calendar .cal-month-box .cal-day-today span[data-cal-date] {
  //   font-size: 1.5em;
  // }
}



footer{
  position:absolute;
  color: $colDefault;
  height:40px;
  background-color: #1c1d20;
  bottom:-100px;
  left:0;
  width:100%;

  .footer-text {
    text-align: center;
  }
}
