// Import all of your scss files here

@import 'fonts';
@import 'mixins';
@import 'custom-css';
@import 'bootstrap-navbar';
@import 'buttons';
@import 'mobile-responsiveness';
@import 'bootstrap-xxs-size';

body {
  background: url(/images/backgrounds/satinweave.png) repeat 0 0;
  position: relative;
}

.nav {
  a {
    font-family: $headingFont;
    &:hover {
      cursor: pointer;
    }
  }
}

.margin-bottom-2 {
  margin-bottom: 2%;
}

// To make scrollbars visible on Mac OS
@include mac-os-scrollbars;

/* Dashboard */

.dashboard-groups {
  @include medium-card-container;

  margin-top: 1em;

  .your-groups-header {
    margin-bottom: 1em;

    // .section-title {
    //   margin: 3% auto;
    // }
    .button-row {
      margin: 0 auto 0.8em;
    }
  }

  .groups-card-container {
    @include medium-card-container;
    background-color: $themeColour1;

    &:hover {
      cursor: pointer;
    }

    a:hover {
      text-decoration: none;
    }

    .card-container:hover {
      cursor: pointer;
    }
    .dash-groups-name {
      color: $themeColour4;
      margin-top: 0.5em;
      margin-bottom: 0.2em;

      &:hover {
        text-decoration: none;
      }
    }
    .dash-groups-date {
      color: $themeColour4;
      margin-bottom: 0.2em;
    }

    .group-thumbnail {
      height: 250px;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }

    .glyphicons-at-top {
      @include glyphicons-at-top;

      span {
        margin: 0;
        padding: 0;
      }

    }
  }


}

.card-container {

  @include medium-card-container;

  .glyphicons-at-top {
    @include glyphicons-at-top;

    span {
      margin: 0;
      padding: 0;
    }

    &:hover {
      cursor: pointer;
    }

  }

  .glyphicons-at-top.member-card-glyphicon {
    right: -45px;
  }

  .glyphicons-at-top.admin-icon {

  }

  .profile-img {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

  .title {
      font-size: 18px;
  }
}

.big-cards {
  // background-color: $bgDefault;
  // opacity: 0.5;
}
// Accordion design below here
.dashboard-accordion {
  overflow-y: scroll;
  height: 400px;

  .agenda-time-div {
    margin-top: 5px;
    margin-bottom: 3px;

    .agenda-time-title {
      display: inline-block;
      margin-bottom: 0px;
    }
  }

  .event-mini-details {
    &:hover {
      cursor: pointer;
    }
    .event-sub-headings {
      margin: 0;
    }
  }

  .button-row {
    margin-top: 10px;
  }

}

.panel-group .panel {
  border-radius: 0;
  margin-bottom: 1%;

  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(207,207,207,1);

  .panel-heading {
    background-color: #fff;
    &:hover {
      cursor: pointer;
    }
  }

  .panel-heading+.panel-collapse>.panel-body{
    border-top: none;
  }
}

.accordion-group-custom {
  border-radius: 0;
}
// Accordion design above here



/* Forms */
.form-card {
  @include medium-card-container;

  margin-top: 2%;
  padding: 2% 2% 1%;
  border: 1px solid $themeColour1;
  background-color: $themeColour4;

  h1 {
    margin-top: 1%;
    // padding-top: 0;
  }

  .form-control {
    border: 1px solid $themeColour1;
    color: $themeColour1;
    border-radius: 0;
    background-color: $themeColour4;
    transition: all 0.5s ease;

    &:focus {
      border: 1px solid $themeColour1;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $themeColour1Faded;
    }
  }

  textarea {
    height: 15rem;
  }

  .theme-button-2 {
    margin-top: 1%;
    width: 100%;
  }
}

/* Groups Show Page */
.button-row {
  margin-bottom: 1%;
}

.group-description {
  margin: 2% 5%;
  text-align: left;

  .description-heading {
  }
  .description {
    margin-top: 1%;
    white-space: pre-line;
    line-height: normal;
  }
}

.member-card-container {
  @include small-card-container;

  .creator-div {
    border-top: 1px solid #bdbfc1;
  }

  .member-div {
    padding: 4px 0;
    border-bottom: 1px solid #bdbfc1;
    @include small-user-card;
    &:hover {
      cursor: pointer;
    }

  }
}

.groups-show-modal {

  .modal-body {
    min-height: 20em;

    h4 {
      margin-bottom: 2%;
    }

    .invite-search {
      display: inline-block;
    }

    @include small-user-card;

    .small-card-glyphicon {
      position: absolute;
      right: 1%;
      top: 1%;
      font-size: 14px;
      z-index: 5;

      &:hover {
        cursor: pointer;
      }

      span {
        margin: 0;
        padding: 0;
      }

    }

    .member-name {
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 0 !important;
    }

  }

} // End of groups-show-modal

/* Agenda on show page */
.agenda-main {
  @include medium-card-container;

  .agenda-header-row {
    position: relative;
    #add-event-btn {
      position: absolute;
      left: 0;
    }
  }

  .add-event-button {
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    text-align: center;
    padding: 12px 0;

    .glyphicon {
      color: #fff;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }

    &:hover {
      cursor: pointer;
      background-color: #2e6da4;
    }
  }

  .date-button-row {
    display: flex;
    justify-content: center;
  }

  .button-left, .button-right {
    display: inline-block;
  }

  .agenda-right, .agenda-left {
    width: 50px;
    // padding-left: 3%;
    // padding-right: 3%;
  }

  .agenda-date-header {
    display: inline-block;
  }

  .event-card {
    @include small-card-container;
    box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
    text-align: left;
    margin-bottom: 1%;
    position: relative;
    z-index: 0;

    &:hover {
      cursor: pointer;
    }

    .timings {
      text-align: right;
    }

    .event-sub-headings {
      margin: 0;
    }

    .button-row {
      margin-bottom: 1%;
      position: relative;
      z-index: 5;
    }

  }
}

.time-status {
  text-transform: capitalize;

  .status-upcoming {
    color: blue;
  }
  .status-now {
    color: green;
  }
  .status-ended {
    color: crimson;
  }
}


// Event show page
.event-show-group-header {
  h1 {
    margin-bottom: 0;
  }
}
.event-show-event-header {
  margin-top: 4%;
  h2 {
    margin-right: 5%;
    margin-bottom: 0;
    display: inline-block;
  }
}

.event-show-card {
  @include small-card-container;
  box-shadow: 0px 1px 10px 0px rgba(207,207,207,1);
  text-align: left;
  margin-bottom: 1%;

  h3 {
    margin-top: 10px;
  }

  .timings {
    text-align: right;
  }

  .event-sub-headings {
    margin: 0;
  }
}

.attendance-row {

  min-height: 70px;

  .flex-row {
    align-items: center;
  }

  @include attendance-user-card;

}

footer{
  position:absolute;
  color: $colDefault;
  height:40px;
  background-color: #1c1d20;
  bottom:-100px;
  left:0;
  width:100%;

  .footer-text {
    text-align: center;
  }
}

// Not sure if this code below actually works for the group pending request and leave modals
// .vcenter {
//   display: inline-block;
//   vertical-align: middle;
//   float: none;
// }
